@import url(https://fonts.googleapis.com/css?family=Bree+Serif);

.login-form{
	max-width: 400px;
}

.content input{
	margin-bottom: 15px;
}

.footer {
	background-color: black !important;
	text-align: center;
	margin: 0 auto;
	width: 310px;
}

.footer button{
	margin-left: 3px;
}
